/Chatter/ChatterServer1/dist/
/Chatter/ChatterClient/dist/
/Chatter/ChatterClient/nbproject/private/
/Chatter/ChatterClient/build/
/Chatter/ChatterServer1/nbproject/private/
/Chatter/ChatterServer1/build/